html, body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 100%;
	background: #f8f8f8;
	color: #333;
}
header{
	background: #79c441;
	padding: 15px 0;
	color: #fff;
}
.content{
	max-width: 800px;
	margin: 0 auto;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}


.clearfix {display:inline;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

h1{
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 30px 0;
}
.distribuicao_de_frequencias{
	width: 100%;
	margin: 30px auto 50px;
	border-collapse: collapse;	
}

.distribuicao_de_frequencias thead th{
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
}
.distribuicao_de_frequencias tbody td{
	padding: 10px;
}
.distribuicao_de_frequencias tfoot td{
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
}

.resultados{
	width: 100%;
	border-collapse: collapse;
	margin: 30px auto 50px;
}
.resultados tr{
	border-bottom: 1px solid;
}
.resultados tr:last-child{
	border: 0;
}
.resultados th{
	text-align: left;
	padding: 10px;
}
.resultados td{
	text-align: right;
	padding: 10px;
}